*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primaryColor: rgb(12, 42, 66);
body {
  background: $primaryColor;
}
h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: white;
}
form {
  border-radius: 5px;

  width: 30rem;
  padding: 2rem 4rem;
  margin: auto;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.383);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  button,
  input {
    border-radius: 5px;

    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
  }
  input {
    background: rgba(12, 42, 66, 0.137);
  }

  button {
    cursor: pointer;
    background: $primaryColor;
    color: white;
  }
  p {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
  }
}
footer#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgb(255, 255, 255);
  margin-top: 3rem;
  .title_secondary {
    color: $primaryColor;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 700px) {
    text-align: center;
  }
  ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;

    li {
      a {
        img {
          width: 2rem;
          height: 2rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        // .twitter
        // {
        //     background: url("../img/icons/twitter.svg");
        // }
        // .linkedin
        // {

        // }
        // .github
        // {

        // }
        // .codepen
        // {

        // }
      }
    }
  }
}
